
.background-color{
    background-color: bisque;
}
.message-container {
    z-index: 999;
    position: absolute;
    top: 1.5%;
    left: 50%; /* Adjust this value to extend the box towards the left */
    transform: translate(-50%, -50%);
    border: 2px #000000;
    
    background-color: tan;
    width: 110%; /* Adjust the width of the box */
    box-sizing: border-box; /* Include padding and border in the width */
    
}

/* Message styling */
.Welcome-Message {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    text-align: center;
    margin: 0;
    
}

.image{
    position: absolute;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px #000000;
    width: 110%; /* Adjust the width of the box */
    height: auto;
    box-sizing: border-box; /* Include padding and border in the width */
}

.Image-Title{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.solid-line {
    position: absolute;
    top: 26%; /* Adjust the vertical position as needed */
    left: 0%;
    right: -5%;
    border: 5px solid #e0218a;
  }

.solid-line2 {
    z-index: 999;
    position: absolute;
    top: 165%; /* Adjust the vertical position as needed */
    left: 0%;
    right: -5%;
    border: 5px solid #e0218a;
  }

  .second-page-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .stripe-chocolate{

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .stripe-kissed{

    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }



  .third-page-title{
    top: 170%;
    left: 18%;
    text-align: center;
    font-family: cursive;
    position: absolute;
  }

  .third-page-description{
    font-family: fantasy;
        line-height: 3;
        font-size: 20px;
        text-align: center;
        border: 2px solid #000; /* Add a black border (you can change the color) */
        padding: 10%; /* Add padding inside the border */
        max-width: 100%; /* Set a maximum width for the box */
        margin: 0 auto; /* Center the box horizontally */
        background-color: pink;
        border-radius: 100px;
        position: absolute;
        top: 185%;
        right: -1%;
        left: 4%;
  }

  

@media only screen and (min-width: 320px) and (max-width: 350px) {
    .solid-line {
        top: 26%;
      }
    .image{
        width: 110%; /* Adjust the width of the box */
        height: 28%;
    }
}

@media only screen and (min-width: 351px) and (max-width: 444px) {
  .solid-line {
      top: 36%;
    }
    .image{
      top: 20%;
      width: 110%; /* Adjust the width of the box */
      height: 35%;
  }

  .second-page-title{
    top: 50%;
  }

  .stripe-chocolate{
    top: 90%;
  }

  .stripe-kissed{
    top: 150%;
  }

  .solid-line2 {
    top: 180%;
  }

  .third-page-title{
    top: 186%;
  }

  .third-page-description{
    top: 205%;
  }


}


@media only screen and (min-width: 445px) and (max-width: 479px) {
  .solid-line {
      top: 35%;
    }
  .image{
      width: 110%; /* Adjust the width of the box */
      height: 33%;
      top: 20%;
  }

  .second-page-title{
    top: 50%;
  }

  .stripe-chocolate{
    top: 90%;
  }

  .stripe-kissed{
    top: 150%;
  }

  .solid-line2 {
    top: 180%;
  }

  .third-page-title{
    top: 186%;
  }

  .third-page-description{
    top: 205%;
  }
}


@media only screen and (min-width: 480px) and (max-width: 600px) {
  .solid-line {
      top: 40%;
    }
  .image{
      width: 110%; /* Adjust the width of the box */
      height: 39%;
      top: 23%;
  }

  .second-page-title{
    top: 56%;
  }

  .stripe-chocolate{
    top: 100%;
  }

  .stripe-kissed{
    top: 160%;
  }

  .solid-line2 {
    top: 190%;
  }

  .third-page-title{
    top: 194%;
    left: 30%;
  }

  .third-page-description{
    top: 210%;
  }
}




@media only screen and (min-width: 601px) and (max-width: 675px) {

  .Image-Title{
    top: 25%;
  }

  .solid-line {
      top: 50%;
    }
  .image{
      width: 110%; /* Adjust the width of the box */
      height: 50%;
      top: 27%;
  }

  .second-page-title{
    top: 60%;
  }

  .stripe-chocolate{
    top: 100%;
  }

  .stripe-kissed{
    top: 160%;
  }

  .solid-line2 {
    top: 190%;
  }

  .third-page-title{
    top: 194%;
    left: 30%;
  }

  .third-page-description{
    top: 210%;
  }
}


@media only screen and (min-width: 676px) and (max-width: 859px) {

  .Image-Title{
    top: 25%;
  }

  .solid-line {
      top: 60%;
    }
  .image{
      width: 110%; /* Adjust the width of the box */
      height: 70%;
      top: 27%;
  }

  .second-page-title{
    top: 70%;
  }

  .stripe-chocolate{
    top: 120%;
  }

  .stripe-kissed{
    top: 180%;
  }

  .solid-line2 {
    top: 210%;
  }

  .third-page-title{
    top: 215%;
    left: 35%;
  }

  .third-page-description{
    top: 230%;
  }
}


@media only screen and (min-width: 860px) and (max-width: 1000px) {


  .message-container
  {
    left: 52.5%;
    width: 186;
  }
  .Image-Title{
    top: 40%;
    left: 51.55%;
  }

  .solid-line {
      top: 91%;
    }
  .image{
      width: 115%; /* Adjust the width of the box */
      height: 90%;
      top: 48%;
  }

  .second-page-title{
    top: 105%;
    left: 51%;
  }

  .stripe-chocolate{
    top: 146%;
    left: 51%;
  }

  .stripe-kissed{
    top: 210%;
    left: 51%;
  }

  .solid-line2 {
    top: 244%;
  }

  .third-page-title{
    top: 250%;
    left: 38%;
  }

  .third-page-description{
    top: 268%;
    left: 0%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1073px) {


  .message-container
  {
    left: 52.5%;
    width: 186;
  }
  .Image-Title{
    top: 40%;
    left: 51.55%;
  }

  .solid-line {
      top: 91%;
    }
  .image{
    width: 115%; /* Adjust the width of the box */
    height: 90%;
    top: 48%;
  }

  .second-page-title{
    top: 105%;
    left: 51%;
  }

  .stripe-chocolate{
    top: 146%;
    left: 51%;
  }

  .stripe-kissed{
    top: 210%;
    left: 51%;
  }

  .solid-line2 {
    top: 244%;
  }

  .third-page-title{
    top: 250%;
    left: 39%;
  }

  .third-page-description{
    top: 268%;
    left: 0%;
  }
}

@media only screen and (min-width: 1074px) and (max-width: 1514px) {


  .message-container
  {
    left: 51.5%;
  }
  .Image-Title{
    top: 40%;
    left: 51.55%;
  }

  .solid-line {
      top: 91%;
      right: -6.5%;
    }
  .image{
      width: 112%; /* Adjust the width of the box */
      height: 90%;
      top: 48%;
      left: 50.5%;
  }

  .second-page-title{
    top: 105%;
    left: 51%;
  }

  .stripe-chocolate{
    top: 146%;
    left: 51%;
  }

  .stripe-kissed{
    top: 210%;
    left: 51%;
  }

  .solid-line2 {
    top: 244%;
    right: -6.5%;
  }

  .third-page-title{
    top: 250%;
    left: 41%;
  }

  .third-page-description{
    top: 268%;
    left: 0%;
  }
}

@media only screen and (min-width: 1515px) and (max-width: 1595px) {


  .message-container
  {
    left: 51.5%;
    top: 1.4%;
  }
  .Image-Title{
    top: 40%;
    left: 51.55%;
  }

  .solid-line {
      top: 92%;
      right: -6.5%;
    }
  .image{
      width: 112%; /* Adjust the width of the box */
      height: 90%;
      top: 47.85%;
      left: 50.5%;
  }

  .second-page-title{
    top: 105%;
    left: 51%;
  }

  .stripe-chocolate{
    top: 146%;
    left: 51%;
  }

  .stripe-kissed{
    top: 210%;
    left: 51%;
  }

  .solid-line2 {
    top: 244%;
    right: -6.5%;
  }

  .third-page-title{
    top: 250%;
    left: 41%;
  }

  .third-page-description{
    top: 268%;
    left: 0%;
  }
}



@media only screen and (min-width: 1596px) and (max-width: 2500px) {


  .message-container
  {
    left: 51.5%;
    height: 2.95%;
  }
  .Image-Title{
    top: 40%;
    left: 51.55%;
  }

  .solid-line {
      top: 92%;
      right: -6.5%;
    }
  .image{
      width: 112%; /* Adjust the width of the box */
      height: 90%;
      top: 47.85%;
      left: 50.5%;
  }

  .second-page-title{
    top: 105%;
    left: 51%;
  }

  .stripe-chocolate{
    top: 146%;
    left: 51%;
  }

  .stripe-kissed{
    top: 210%;
    left: 51%;
  }

  .solid-line2 {
    top: 244%;
    right: -6.5%;
  }

  .third-page-title{
    top: 250%;
    left: 41%;
  }

  .third-page-description{
    top: 268%;
    left: 0%;
  }
}


