/* Container styling */
.background-color{
    background-color: bisque;
}
.message-container {
    z-index: 999;
    position: absolute;
    top: 2%;
    left: 50%; /* Adjust this value to extend the box towards the left */
    transform: translate(-50%, -50%);
    border: 2px #000000;
    
    background-color: tan;
    width: 100%; /* Adjust the width of the box */
    box-sizing: border-box; /* Include padding and border in the width */
    
}

/* Message styling */
.Welcome-Message {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    text-align: center;
    margin: 0;
}

.image{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px #000000;
    width: 100%; /* Adjust the width of the box */
    height: auto;
    box-sizing: border-box; /* Include padding and border in the width */
}

.solid-line {
    position: absolute;
    top: 28%; /* Adjust the vertical position as needed */
    left: 0%;
    right: 0%;
    border: 5px solid #e0218a;
  }

.solid-line2 {
    z-index: 999;
    position: absolute;
    top: 160%; /* Adjust the vertical position as needed */
    left: 0%;
    right: 0%;
    border: 5px solid #e0218a;
  }
  .second-page-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .stripe-chocolate{

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .stripe-kissed{

    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }



  .third-page-title{
    top: 170%;
    left: 23%;
    text-align: center;
    font-family: cursive;
    position: absolute;
  }

  .third-page-description{
    font-family: fantasy;
        line-height: 3;
        text-align: left;
        font-size: 20px;
        text-align: center;
        border: 2px solid #000; /* Add a black border (you can change the color) */
        padding: 10%; /* Add padding inside the border */
        max-width: 100%; /* Set a maximum width for the box */
        margin: 0 auto; /* Center the box horizontally */
        background-color: pink;
        border-radius: 100px;
        position: absolute;
        top: 185%;
  }

  .third-page-gif{
    position: absolute;
    left: 0%;
    top: 162%;
    
  }
  
  .third-page-gif-2{
    position: absolute;
    left: 78%;
    top: 162%;
  }

  
